<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "tv.radioactiva.victor"
    version   = "1.0.0">

<name>TV por Internet</name>

<description>
Smart Card de Radioactiva.tv
</description>
<preference name="fullscreen" value="false" />
<icon src="img/icono.png" />
<gap:splash src="img/smartcard_banner_vert.jpg" />
<author href="https://www.radioactiva.tv" email="vcortes@itic.com.mx">
Victor Cortés
</author>

</widget>
